# III. Database filling
1. [Import libraries and scr.py file](#libraries-scrpy)
2. [New records for film](#new-records-film)
3. [New records for customer](#new-records-customer)
4. [Fill new "price" column in rental](#fill-price-column)
5. [Some extra imports and exports](#extra-imports-exports)

## 1. Import libraries and scr.py file

In [2]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)

In [4]:
import scr as sc #Functions

In [3]:
import pylab as plt  
import seaborn as sns
import random

%matplotlib inline

#%pip install Faker

## 2. New records for film

In [29]:
"""from faker import Faker

fake = Faker()

peliculas = []

for film_id in range(1000, 1500):
    title = fake.text(50).upper()
    description = fake.paragraph(nb_sentences=3, variable_nb_sentences=True).upper()
    release_year = random.randint(2022, 2024)
    language_id = None
    original_language_id = random.choice([1, 2, 3, 4, 5, 6])
    rental_duration = random.randint(3, 9)
    rental_rate = round(random.uniform(0.99, 4.99), 2)
    length = random.randint(60, 180)
    replacement_cost = round(random.uniform(9.99, 29.99), 2)
    rating = ""
    category_id = random.choice([1, 3, 4, 2, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17])

    actors = [fake.first_name(), fake.last_name(), fake.first_name(), fake.last_name(), fake.first_name(), fake.last_name(), fake.first_name(), fake.last_name()]

    peliculas.append({
        'film_id': film_id,
        'title': title,
        'description': description,
        'release_year': release_year,
        'language_id': language_id,
        'original_language_id': original_language_id,
        'rental_duration': rental_duration,
        'rental_rate': rental_rate,
        'length': length,
        'replacement_cost': replacement_cost,
        'rating': rating,
        'category_id': category_id,
        'actor1_first_name': actors[0],
        'actor1_last_name': actors[1],
        'actor2_first_name': actors[2],
        'actor2_last_name': actors[3],
        'actor3_first_name': actors[4],
        'actor3_last_name': actors[5],
        'actor4_first_name': actors[6],
        'actor4_last_name': actors[7]
    })

df = pd.DataFrame(peliculas)

df"""

'from faker import Faker\n\nfake = Faker()\n\npeliculas = []\n\nfor film_id in range(1000, 1500):\n    title = fake.text(50).upper()\n    description = fake.paragraph(nb_sentences=3, variable_nb_sentences=True).upper()\n    release_year = random.randint(2022, 2024)\n    language_id = None\n    original_language_id = random.choice([1, 2, 3, 4, 5, 6])\n    rental_duration = random.randint(3, 9)\n    rental_rate = round(random.uniform(0.99, 4.99), 2)\n    length = random.randint(60, 180)\n    replacement_cost = round(random.uniform(9.99, 29.99), 2)\n    rating = ""\n    category_id = random.choice([1, 3, 4, 2, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17])\n\n    actors = [fake.first_name(), fake.last_name(), fake.first_name(), fake.last_name(), fake.first_name(), fake.last_name(), fake.first_name(), fake.last_name()]\n\n    peliculas.append({\n        \'film_id\': film_id,\n        \'title\': title,\n        \'description\': description,\n        \'release_year\': release_year,\n        \'language_id\': language_id,\n        \'original_language_id\': original_language_id,\n        \'rental_duration\': rental_duration,\n        \'rental_rate\': rental_rate,\n        \'length\': length,\n        \'replacement_cost\': replacement_cost,\n        \'rating\': rating,\n        \'category_id\': category_id,\n        \'actor1_first_name\': actors[0],\n        \'actor1_last_name\': actors[1],\n        \'actor2_first_name\': actors[2],\n        \'actor2_last_name\': actors[3],\n        \'actor3_first_name\': actors[4],\n        \'actor3_last_name\': actors[5],\n        \'actor4_first_name\': actors[6],\n        \'actor4_last_name\': actors[7]\n    })\n\ndf = pd.DataFrame(peliculas)\n\ndf'

In [15]:
#df.to_excel('../data/3-fill_db/prefilms.xlsx', index=False)

## 3. New records for customer

In [39]:
"""fake = Faker()

clientes = []

for _ in range(50):
    first_name = fake.first_name().capitalize()
    last_name = fake.last_name().capitalize()
    mobile = "6" + str(fake.random_number(digits=8))
    email = fake.email()
    dni = str(fake.random_number(digits=8)) + fake.random_letter().upper()

    clientes.append({
        'customer_id': _ + 1, 
        'first_name': first_name,
        'last_name': last_name,
        'mobile': mobile,
        'email': email,
        'dni': dni
    })

df = pd.DataFrame(clientes)

df.head()"""

,customer_id,first_name,last_name,mobile,email,dni
0,1,Nathan,Murray,623463976,haley44@example.org,42843811A
1,2,Kimberly,Deleon,673591576,watsonkathryn@example.com,47032981U
2,3,Lacey,Brown,647471458,danielshepherd@example.net,70360684J
3,4,Ricky,Nichols,619218677,jeffrey32@example.net,87236148H
4,5,Jon,Velazquez,613249589,rwells@example.net,65856974S

In [40]:
#df.to_csv('../data/3-fill_db/customer.csv', index=False)

## 4. Fill new "price" column in rental

In [93]:
"""def generate_random_price(row):
    random_number = np.random.randint(3, 12)  # Generar un número aleatorio
    return random_number * row['total_quantity']  # Multiplicar por el valor en 'total_quantity'

# Aplicar la función a cada fila para llenar la columna 'price'
rental['price'] = rental.apply(generate_random_price, axis=1)

rental"""

,rental_id,rental_date,return_date,total_quantity,price,discount,store_id,staff_id,customer_id
0,1,24/05/2005 22:53,26/05/2005 22:04,3,21,0,1,1,9
1,2,24/05/2005 22:54,28/05/2005 19:40,1,5,0,1,1,11
2,3,24/05/2005 23:03,01/06/2005 22:12,1,5,0,1,1,13
3,4,24/05/2005 23:04,03/06/2005 1:43,2,8,0,1,2,1
4,5,24/05/2005 23:05,02/06/2005 4:33,1,8,0,1,1,9
...,...,...,...,...,...,...,...,...,...
995,996,31/05/2005 0:08,02/06/2005 0:17,3,30,0,1,2,32
996,997,31/05/2005 0:16,01/06/2005 22:41,1,9,0,1,1,39
997,998,31/05/2005 0:25,03/06/2005 6:05,3,24,0,1,2,13
998,999,31/05/2005 0:25,08/06/2005 19:42,1,5,0,1,2,27
999,1000,31/05/2005 0:46,06/06/2005 6:14,3,9,0,1,2,29

## 5. Some extra imports and exports
At this point I worked with excel files. It is important to practice too, isn't it? In the end we will end up using it, so...

In [19]:
film = pd.read_csv('../data/3-fill_db/film.csv')

In [44]:
film.to_csv('../data/3-fill_db/film.csv', index=False)

In [70]:
film_has_special_features= pd.read_csv('../data/3-fill_db/film_has_special_features.csv', sep=';')

In [71]:
film_has_special_features.to_csv('../data/3-fill_db/film_has_special_features.csv', index=False)

In [95]:
film_has_language = pd.read_csv('../data/3-fill_db/film_has_language.csv', sep=';')

In [96]:
film_has_language.to_csv('../data/3-fill_db/film_has_language.csv', index=False)

In [73]:
actors= pd.read_csv('../data/3-fill_db/actor.csv', sep=';')

In [74]:
actors.to_csv('../data/3-fill_db/actor.csv', index=False)

In [13]:
film_has_actors= pd.read_csv('../data/3-fill_db/film_has_actor.csv', sep=';')

In [14]:
film_has_actors.to_csv('../data/3-fill_db/film_has_actor.csv', index=False)

In [15]:
film_has_special_features= pd.read_csv('../data/3-fill_db/film_has_special_features.csv', sep=';')

In [12]:
film_has_special_features.to_csv('../data/3-fill_db/film_has_special_features.csv', index=False)

In [97]:
rental_detail= pd.read_csv('../data/3-fill_db/rental_detail.csv', sep=';')

In [98]:
rental_detail.to_csv('../data/3-fill_db/rental_detail.csv', index=False)

In [80]:
rental = pd.read_csv('../data/3-fill_db/rental.csv', sep=';')

In [81]:
rental.to_csv('../data/3-fill_db/rental.csv', index=False)